version: "3.7"
services:
  backend:
    platform: linux/amd64
    build: .
    image: unitap-backend
    environment:
      - FIELD_KEY=${FIELD_KEY}
      - SECRET_KEY=${SECRET_KEY}
      - BRIGHT_PRIVATE_KEY=${BRIGHT_PRIVATE_KEY}
      - GITCOIN_PASSPORT_API_KEY=${GITCOIN_PASSPORT_API_KEY}
      - GITCOIN_PASSPORT_SCORER_ID=${GITCOIN_PASSPORT_SCORER_ID}
      - CONSUMER_KEY=${CONSUMER_KEY}
      - CONSUMER_SECRET=${CONSUMER_SECRET}
      - DEBUG=${DEBUG}
      - SENTRY_DSN=${SENTRY_DSN}
      - DATABASE_URL=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@database:5432/${POSTGRES_DB}
      - REDIS_URL=redis://redis:6379
      - MEMCACHEDCLOUD_SERVERS=memcached:11211
    expose:
      - 5678
    ports:
      - "5678:5678"
    depends_on:
      - database
      - redis
    volumes:
      - .:/code

  database:
    platform: linux/amd64
    image: postgres:14.1-alpine
    restart: always
    environment:
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    expose:
      - 5432
    volumes:
      - db:/var/lib/postgresql/data

  redis:
    platform: linux/amd64
    image: redis:6.2-alpine
    restart: always
    expose:
      - 6379
    command: redis-server --save 20 1 --loglevel warning
    volumes:
      - cache:/data

  memcached:
    platform: linux/amd64
    container_name: memcached
    image: memcached:latest
    ports:
        - "11211:11211"
  ganache:
    platform: linux/amd64
    image: trufflesuite/ganache-cli
    restart: always
    expose:
      - 7545
    command: ganache-cli -d -p 7545

volumes:
  db:
    driver: local
  cache:
    driver: local
